.eyeIconButton {
    position: absolute;
    right: 10px;
    top: 70%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
  }
  
  .eyeIconButton:hover {
    color: #1e4671;
  }
  